.app-wrapper {
  height: 100vh;
}
a{
  text-decoration: none;
}

.intro {
  min-height: calc(100% - 82px);
  display: flex;
  align-items: stretch;
}


.main {
  flex: 1 3 auto;
  background: orange;
}


